* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(239, 255, 253);
}

.container {
    max-width: 1280px;
    margin: 32px auto;
    display: flex;
    justify-content: space-between;
}