.chat {
    width: 80%;
    background-color: white;
    box-shadow: 3px 3px 0px 1px rgba(0,0,0,0.75);
    border-radius: 8px;
    padding: 16px;
}

.chat-messages {
    display: flex;
    flex-direction: column;
    padding: 12px;
}

.message-input {
    border: 1px solid rgba(37, 37, 37, 0.75);
    box-shadow: -1px 1px 0px 1px rgba(0,0,0,0.75);
    border-radius: 8px;
    width: 90%;
    resize: none;
    text-indent: 8px;
    align-self: center;
    margin-right: 10px;
}

.message-input:focus {
    outline: none;
}

.send-message-btn {
    background-color: rgb(14, 191, 204);
    border: none;
    color: white;
    padding: 10px 0;
    width: 10%;
    border-radius: 8px;
    box-shadow: -1px 1px 0px 1px rgba(0,0,0,0.75);
    cursor: pointer;
}

.chat-form {
    padding: 0 12px;
    display: flex;
    align-content: center;
    align-items: center;
}