.auth-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 18px;
    border: 1px solid white;
    border-radius: 8px;
    margin: 128px auto;
    background: white;
    box-shadow: 3px 3px 0px 1px rgba(0,0,0,0.75);
}

.auth-input {
    margin-bottom: 16px;
    border: 1px solid rgba(51, 51, 51, 0.75);
    box-shadow: 1px 1px 0px 1px rgba(51, 51, 51, 0.75);
    border-radius: 8px;
    padding: 6px;
    text-indent: 4px;
}

.auth-input:focus, .submit-btn:focus {
    outline: none;
}

.submit-btn {
    border: none;
    background-color: rgb(69, 233, 69);
    padding: 10px 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 1px 1px 0px 1px rgba(0,0,0,0.75);
    color: rgba(0,0,0,0.75);
}

.buttons-block {
    margin: auto;
}

.auth-link {
    text-decoration: none;
    margin-left: 8px;
}

.input-error {
    margin-bottom: 16px;
    color:rgb(255, 175, 175);
}