.left-side-menu {
    box-shadow: 3px 3px 0px 1px rgba(0,0,0,0.75);
    align-self: flex-start;
    background-color: white;
    margin-right: 12px;
    border-radius: 8px;
    text-align: center;
    width: 18%;
}

.left-side-menu .item {
    padding: 12px 0;
    cursor: pointer;
    border-radius: 8px;
    margin: auto;
    transition: all 0.2s;
    display: block;
    color: black;
    text-decoration: none;
}

.left-side-menu .item:hover {
    background-color: rgba(14, 191, 204, 0.2);
    color: rgb(14, 191, 204);
    transition: all 0.2s;
}