.messages {
    width: 80%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 3px 3px 0px 1px rgba(0,0,0,0.75);
}

.messages h1 {
    text-align: center;
}

.chat-item {
    width: 95%;
    margin: 12px auto;
    border: 1px solid rgba(0,0,0,0.75);
    box-shadow: 3px 3px 0px 1px rgba(0,0,0,0.75);
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
}

.chat-item h3 {
    margin: 0;
}