.my-message {
    background-color: rgb(14, 191, 204) !important;
    align-self: flex-end;
    margin-right: 16px;
    box-shadow: -2px 2px 0px 1px rgba(0,0,0,0.75) !important;
}

.message {
    padding: 8px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    max-width: 60%;
    box-shadow: 2px 2px 0px 1px rgba(0,0,0,0.75);
    margin-bottom: 16px;
    color: white;
    background-color: rgb(24, 173, 136);
}

.message h5, .message p {
    margin: 0;
    padding: 0;
}
