.profile {
    width: 80%;
    background-color: white;
    box-shadow: 3px 3px 0px 1px rgba(0,0,0,0.75);
    border-radius: 8px;
}

.profile h1 {
    text-align: center;
    color: rgba(0,0,0,0.9);
}

.profile-block {
    border: 1px solid rgba(0,0,0,0.75);
    width: 90%;
    margin: auto;
    border-radius: 8px;
    padding: 8px;
}

.profile-block h2 {
    margin: 0;
}

.send-msg-btn {
    background-color: rgb(10, 174, 185);
    border: none;
    border-radius: 8px;
    box-shadow: 1px 1px 0px 1px rgba(0,0,0,0.75);
    color: white;
    padding: 8px 16px;
    cursor: pointer;
}