.search {
    width: 80%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 3px 3px 0px 1px rgba(0,0,0,0.75);
}

.search h1 {
    text-align: center;
}

.user-item {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 18px auto;
    border: 1px solid rgba(0,0,0,0.75);
    box-shadow: 3px 3px 0px 1px rgba(0,0,0,0.75);
    border-radius: 8px;
    padding: 8px;
}

.left-block {
    align-self: center;
    margin-left: 18px;
}

.right-block {
    align-self: center;
    margin-right: 18px;
}

.left-block h3 {
    margin: 0;
}

.left-block h3, .left-block p {
    cursor: pointer;
}

.send-msg-btn {
    background-color: rgb(10, 174, 185);
    border: none;
    border-radius: 8px;
    box-shadow: 1px 1px 0px 1px rgba(0,0,0,0.75);
    color: white;
    padding: 8px 16px;
    cursor: pointer;
}

.search-input {
    width: 80%;
    margin: auto;
    display: block;
    border: 1px solid rgba(0,0,0,0.75);
    box-shadow: 3px 3px 0px 1px rgba(0,0,0,0.75);
    border-radius: 8px;
    padding: 8px;
}

.search-input:focus {
    outline: none;
}